{
	"ClickhouseGood": {
		"Port": 9000,
		"Addr": "127.0.0.1",
		"DbName": "stat"
	},
	"ClickhouseBad": {
      "Port": 9000,
      "Addr": "127.0.0.1",
      "DbName": "BadJson"
	},
	"RedisStat" : {
      "addr" : "127.0.0.1:6379",
      "password" : ""
    },
    "RedisIp" : {
            "addr" : "127.0.0.1:6379",
            "password" : ""
    },
    "Port" : ":8080"
}
