{
	"ClickhouseGood": {
		"Port": 9000,
		"Addr": "stat.krasrm.com",
		"DbName": "stat"
	},
	"ClickhouseBad": {
      "Port": 9000,
      "Addr": "stat.krasrm.com",
      "DbName": "BadJson"
	},
	"RedisStat" : {
      "addr" : "ec2-34-236-65-51.compute-1.amazonaws.com:50399",
      "password" : "pb23ec6d25b0c81ca69a2cf43875c3cb2135b3289071f0216d501c6d0f3620001"
    },
    "RedisIp" : {
          "addr" : "ec2-34-236-132-20.compute-1.amazonaws.com:16779",
      "password" : "paeea1b403c6b65699b6df648f97eae02af0759026316d0832693297736661ee1"
    }
}